.App {
  text-align: center;
}

.page-body {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.side-bar {
  flex: 0 0 12em;
  background-color: gainsboro;
  border-right: 2px solid grey;
}

.content-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-bar {
  height: 3em;
  background-color: gainsboro;
  border-bottom: 2px solid grey;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.graph-container {
  height: 100%;
  padding: 3em;
}

.graph-display {
  background-color: whitesmoke;
  margin-bottom: 3em;
}

/* general themes */
button {
  height: 2em;
  background-color: khaki;
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 5px;
}


/* .graph-display {
  max-width: 500px;
} */